@media only screen and (max-width:767px){
    html, body {
      overflow-x: hidden;
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      scroll-behavior: smooth;
    }
}
.rotate{
    animation: rot 5s   infinite  linear;
}
.strokeme {
  color: #3b73b9;
  background-color: #def2fd;
  text-shadow: -5px -5px 0 #ffffff, 5px -5px 0 #ffffff, -5px 5px 0 #ffffff, 5px 5px 0 #ffffff;
}

.stroke{
  color: #ffffff;
  text-shadow: -2px -2px 0 #7fb051, 2px -2px 0 #7fb051, -2px 2px 0 #7fb051, 2px 2px 0 #7fb051;
}

.blade1{
    animation: rot 10s infinite linear  ;
}

.blade2{
    animation: rot2 10s infinite linear  ;
}

@keyframes rot{
    from{
        transform: translateY(-10vw) translateX(-3vw) rotateZ(0deg);
    }
    to{
        transform: translateY(-10vw) translateX(-3vw) rotateZ(360deg);
    }
}

@keyframes rot2{
    from{
        transform: translateY(-11vw) translateX(93vw) rotateZ(0deg);
    }
    to{
        transform: translateY(-11vw) translateX(93vw) rotateZ(360deg);
    }
}

.content{
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d;
}
.card:hover .content{
    transform: rotateY(180deg);
}
.back{
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}
.front, .back{
    backface-visibility: hidden;
}

.one-one{
    transform: rotateZ(-12deg);
    transition: 0.3s ease-in-out;
}

.one-two{
    transform: rotateZ(-4deg);
    transition: 0.3s ease-in-out;
}

.one-three{
    transform: rotateZ(4deg);
    transition: 0.3s ease-in-out;
}
.one-four{
    transform: rotateZ(12deg);
    transition: 0.3s ease-in-out;
}

.two-one{
    transform: rotateZ(-12deg);
    transition: 0.3s ease-in-out;
}

.two-two{
    transform: rotateZ(-4deg);
    transition: 0.3s ease-in-out;
}

.two-three{
    transform: rotateZ(4deg);
    transition: 0.3s ease-in-out;
}
.two-four{
    transform: rotateZ(12deg);
    transition: 0.3s ease-in-out;
}


.three-one{
    transform: rotateZ(-16deg);
    transition: 0.3s ease-in-out;
}

.three-two{
    transform: rotateZ(-8deg);
    transition: 0.3s ease-in-out;
}

.three-three{
    transform: rotateZ(0deg);
    transition: 0.3s ease-in-out;
}
.three-four{
    transform: rotateZ(8deg);
    transition: 0.3s ease-in-out;
}
.three-five{
    transform: rotateZ(16deg);
    transition: 0.3s ease-in-out;
}

.sacBorder{
    transition: 0.3s ease-in-out;
}
.langBorder{
    transition: 0.3s ease-in-out;
}

.four-one{
    transform: rotateZ(-20deg);
    transition: 0.3s ease-in-out;
}

.four-two{
    transform: rotateZ(-12deg);
    transition: 0.3s ease-in-out;
}
.four-three{
    transform: rotateZ(-4deg);
    transition: 0.3s ease-in-out;
}
.four-four{
    transform: rotateZ(4deg);
    transition: 0.3s ease-in-out;
}
.four-five{
    transform: rotateZ(12deg);
    transition: 0.3s ease-in-out;
}
.four-six{
    transform: rotateZ(20deg);
    transition: 0.3s ease-in-out;
}


.rundown{
  background-image: linear-gradient(rgba(255, 255, 255, 0.3) .1em, transparent .1em), linear-gradient(90deg, rgba(255, 255, 255, 0.3) .1em, transparent .1em);
  background-size: 3em 3em;
}
