
.rotate{
    animation: rot 5s   infinite  linear;
}
.strokeme {
  color: #3b73b9;
  background-color: #def2fd;
  text-shadow: -5px -5px 0 #ffffff, 5px -5px 0 #ffffff, -5px 5px 0 #ffffff, 5px 5px 0 #ffffff;
}

@keyframes rot{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.content{
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d;
}
.card:hover .content{
    transform: rotateY(180deg);
}
.back{
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}
.front, .back{
    backface-visibility: hidden;
}

.one-one{
    transform: rotateZ(12deg);
    transition: 0.3s ease-in-out;
    transform-style: preserve-3d;
}

.one-two{
    transform: rotateZ(0deg);
    transition: 0.3s ease-in-out;
}

.one-three{
    transform: rotateZ(-12deg);
    transition: 0.3s ease-in-out;
}
